.modal-dialog-full-width {
    width: 80% !important;
    max-width:none !important;

}

.modal-content-full-width  {
    height: auto !important;
    min-height: 100% !important;
    border-radius: 0 !important;
    background-color: #ececec !important
}

.modal-header-full-width  {
    border-bottom: 1px solid #9ea2a2 !important;
}

.modal-footer-full-width  {
    border-top: 1px solid #9ea2a2 !important;
}

#myalbums_body:not(.clickable-show-album):hover{
    cursor:move; /* table row drag */
    user-select: none;
}

.with-margin{
    margin: 5% 5% 5% 5%;
}

.with-lateral-margin {
    margin-left: 2%;
    margin-right: 2%;
}

.avatar-preview {
    width: 60px; !important;
    height: 60px; !important;
}

.maxwidth-thumbnail {
    max-width: 190px;
}

.fa-disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.main-text {
    font-family: 'Poppins', sans-serif;
    font-size: calc(50% + 2vw + 2vh);
}

.clickable-show-album:hover {
    cursor: pointer
}